.reset-password-container{
    width: 350px;
    margin: 100px auto;
    padding-left: 30px;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
}

.reset-password-container h1{
    text-align: center;
    transform: translate(-15px);
}

.reset-password-container div{
    margin-bottom: 18px;
}

.reset-password-container label{
    display: block;
    margin-bottom: 5px;
}

.reset-password-container input{
    width: 280px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

.reset-password-container button{
    display: block;
    margin: 0 auto 10px auto;
    transform: translate(-16px);
    height: 25px;
    font-size: 17px;
}

.reset-password-container button:hover{
    background-color: #ddd;
    cursor: pointer;
}

.reset-password-container p{
    display: block;
    text-align: center;
    transform: translate(-20px);
}