.logo {
    width: 320px;
    display: block;
    margin: 60px auto 20px;
}

.login-container {
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
}

.login-container h1{
    text-align: center;
    transform: translate(-15px);
}

.login-container div{
    margin-bottom: 18px;
}

.login-container label{
    display: block;
    margin-bottom: 5px;
}

.login-container input{
    width: 280px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

.login-container button{
    display: block;
    margin: 0 auto 10px auto;
    transform: translate(-16px);
    height: 25px;
    font-size: 17px;
}

.login-container button:hover{
    background-color: #ddd;
    cursor: pointer;
}

.forgot-password{
    position: relative;
    left: 205px;
    padding-top: 5px;
}

p{
    display: block;
    text-align: center;
    transform: translate(-20px);
}