.forgot-password-container{
    width: 350px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 100px auto;
    border: 1px solid #0a0a0a;
    border-radius: 10px;    
}
.forgot-password-container h1{
    text-align: center;
    transform: translate(-13px);
}

.forgot-password-container div{
    margin-bottom: 18px;
}

.forgot-password-container label{
    display: block;
    margin-bottom: 5px;
}

.forgot-password-container input{
    width: 280px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

.forgot-password-container button{
    display: block;
    margin: 0 auto 10px auto;
    transform: translate(-23px);
    height: 25px;
    font-size: 17px;
}

.forgot-password-container button:hover{
    background-color: #ddd;
    cursor: pointer;
}