.logo {
    width: 220px;
    height: 90px;
    display: block;
    margin: 60px auto 30px auto;
}

.forgot-password-container {
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.forgot-password-container h1{
    text-align: center;
    transform: translate(-13px);
}

.forgot-password-container div{
    margin-bottom: 18px;
}

.forgot-password-container label{
    display: block;
    margin-bottom: 5px;
}

.forgot-password-container input{
    width: 280px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

.forgot-password-container button{
    display: block;
    margin: 0 auto 10px auto;
    transform: translate(-23px);
    height: 25px;
    font-size: 17px;
}

.forgot-password-container button:hover{
    background-color: #ddd;
    cursor: pointer;
}