.register-container{

    width: 350px;

    margin: 100px auto;

    padding-left: 30px;

    border: 1px solid #0a0a0a;

    border-radius: 10px;

}

.register-container h1{

    text-align: center;

    transform: translate(-15px);

}

.register-container div{

    margin-bottom: 18px;

}

.register-container label{

    display: block;

    margin-bottom: 5px;

}

.register-container input{

    width: 280px;

    border-color: black;

    border-radius: 5px;

    padding: 5px;

}

.register-container button{

    display: block;

    margin: 0 auto 10px auto;

    transform: translate(-16px);

    height: 25px;

    font-size: 17px;

}

.register-container button:hover{

    background-color: #ddd;

    cursor: pointer;

}

p{

    display: block;

    text-align: center;

    transform: translate(-20px);

}